doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=480, user-scalable=no, minimum-scale=1, maximum-scale=1, initial-scale=1')
    title Test Rhythm Game
    style.
      body { margin: 0; padding: 0; }
  body
    #gameCanvas
    script(src='/assets/engine/enchant.js')
    script(src='/assets/js/index.js')
